<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Site personnel de Maxime Minot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="PRO Card - Material Resume / CV / vCard Template" />
    <meta name="keywords" content="vcard, responsive, retina, resume, jquery, css3, bootstrap, Material CV, portfolio" />
    <meta name="author" content="palyndiel" />
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="{{ app.request.basepath }}/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/animate.css" type="text/css">
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/transition-animations.css" type="text/css">
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/main.css" type="text/css">

    <script src="{{ app.request.basepath }}/js/jquery-2.1.3.min.js"></script>
    <script src="{{ app.request.basepath }}/js/modernizr.custom.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body class="material-template">
<!-- Loading animation -->
<div class="preloader">
    <div class="preloader-animation">
        <div class="preloader-spinner">
        </div>
    </div>
</div>
<!-- /Loading animation -->

<div id="page" class="page">
    <!-- Header -->
    <header id="site_header" class="header mobile-menu-hide">
        <div class="header-content">
            <div class="site-title-block mobile-hidden">
                <div class="site-title">{{ 'master.name'|trans }} <span>{{ 'master.family'|trans }}</span></div>
            </div>

            <!-- Navigation -->
            <div class="site-nav">
                <!-- Main menu -->
                <ul id="nav" class="site-main-menu">
                    <li>
                        <a class="pt-trigger" href="#home">{{ 'menu.home'|trans }}</a><!-- href value = data-id without # of .pt-page. -->
                    </li>
                    <li>
                        <a class="pt-trigger" href="#resume">{{ 'menu.resume'|trans }}</a>
                    </li>
                    <!--<li>
                      <a class="pt-trigger" href="#services" data-animation="62">Services</a>
                    </li>-->
                    <li>
                        <a class="pt-trigger" href="#portfolio">{{ 'menu.portfolio'|trans }}</a>
                    </li>
                    <!--<li>
                      <a class="pt-trigger" href="#blog" data-animation="62">Blog</a>
                    </li>-->
                    <li>
                        <a class="pt-trigger" href="#contact">{{ 'menu.contact'|trans }}</a>
                    </li>
                </ul>
                <!-- /Main menu -->
            </div>
            <!-- Navigation -->
        </div>
    </header>
    <!-- /Header -->

    <!-- Mobile Header -->
    <div class="mobile-header mobile-visible">
        <div class="mobile-logo-container">
            <div class="mobile-site-title">{{ 'master.name'|trans }} {{ 'master.family'|trans }}</div>
        </div>

        <a class="menu-toggle mobile-visible">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <!-- /Mobile Header -->

    <!-- Main Content -->
    <div id="main" class="site-main">
        <!-- Page changer wrapper -->
        <div class="pt-wrapper">
            <!-- Subpages -->
            <div class="subpages">
        {% block body %}{% endblock %}
            </div>
        </div>
        <!-- /Page changer wrapper -->
    </div>
    <!-- /Main Content -->
</div>
    <footer>
        <div class="copyrights"><p><a href="{{ app.request.basepath }}/fr">fr</a> | <a href="{{ app.request.basepath }}/en">en</a></p>© 2017 All rights reserved. Website by Palyndiel. Material template by LMPixels</div>
    </footer>

    <script type="text/javascript" src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/js/pages-switcher.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/js/validator.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/js/jquery.shuffle.min.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/js/jquery.hoverdir.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBasoESU9NFrovLvFiVHOl7cu5A_8uf4w"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/js/jquery.googlemap.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/js/main.js"></script>
</body>
</html>
