<!-- Contact Subpage -->
<section class="pt-page" data-id="contact">
    <div class="section-inner custom-page-content">
        <div class="page-header color-1">
            <h2>{{ 'contact.title'|trans }}</h2>
        </div>
        <div class="page-content">

            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="block-title">
                        <h3>{{ 'contact.getin'|trans }} <span>{{ 'contact.touch'|trans }}</span></h3>
                    </div>
                    <!-- Google Map -->
                    <div id="map" class="map"></div>
                    <!-- End of Google Map -->

                    <div class="contact-info-block">
                        <div class="ci-icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="ci-text">
                            <h5>Nantes, France</h5>
                        </div>
                    </div>
                    <div class="contact-info-block">
                        <div class="ci-icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="ci-text">
                            <h5>maxym.mino@outlook.com</h5>
                        </div>
                    </div>
                    <div class="contact-info-block">
                        <div class="ci-icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="ci-text">
                            <h5>+336 06 45 58 75</h5>
                        </div>
                    </div>
                    <!--<div class="contact-info-block">
                        <div class="ci-icon">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="ci-text">
                            <h5>Freelance Available</h5>
                        </div>
                    </div>-->
                </div>

                <div class="col-sm-6 col-md-6">
                    <div class="block-title">
                        <h3>{{ 'contact.contact'|trans }} <span>{{ 'contact.form'|trans }}</span></h3>
                    </div>
                    <form id="contact-form" method="post" action="{{ path('formContact') }}">

                        <div class="messages"></div>

                        <div class="controls">
                            <div class="form-group form-group-with-icon">
                                <i class="fa fa-user"></i>
                                <label>{{ 'form.label.name'|trans }}</label>
                                <input id="form_name" type="text" name="name" class="form-control" placeholder required="required" data-error="{{ 'form.error.name'|trans }}">
                                <div class="form-control-border"></div>
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group form-group-with-icon">
                                <i class="fa fa-envelope"></i>
                                <label>{{ 'form.label.email'|trans }}</label>
                                <input id="form_email" type="email" name="email" class="form-control" placeholder required="required" data-error="{{ 'form.error.email'|trans }}">
                                <div class="form-control-border"></div>
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group form-group-with-icon">
                                <i class="fa fa-comment"></i>
                                <label>{{ 'form.label.message'|trans }}</label>
                                <textarea id="form_message" name="message" class="form-control" placeholder rows="4" required="required" data-error="{{ 'form.error.message'|trans }}"></textarea>
                                <div class="form-control-border"></div>
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="g-recaptcha" data-sitekey="6LdqmCAUAAAAAMMNEZvn6g4W5e0or2sZmAVpxVqI"></div>

                            <input type="submit" class="button btn-send" value="{{ 'form.send'|trans }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Subpage -->