{% extends 'base.html.twig' %}

{% block body %}
    <!-- Home Subpage -->
    <section class="pt-page" data-id="home">
        <div class="section-inner start-page-content">
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="photo">
                            <img src="{{ app.request.basepath }}/images/photo.png" alt="">
                        </div>
                    </div>

                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <div class="title-block">
                            <h1>{{ 'master.name'|trans }} {{ 'master.family'|trans }}</h1>
                            <div class="owl-carousel text-rotation">
                                <div class="item">
                                    <div class="sp-subtitle">{{ 'master.skill.java'|trans }}</div>
                                </div>
                                <div class="item">
                                    <div class="sp-subtitle">{{ 'master.skill.php'|trans }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="social-links">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-content">
                <div class="row">

                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="about-me">
                            <div class="block-title">
                                <h3>{{ 'about.about'|trans }} <span>{{ 'about.me'|trans }}</span></h3>
                            </div>
                            <p>Bonjour, je m'appelle Maxime Minot. Je suis un jeune ingénieur diplomé en électronique et technologies numériques. J'ai 6 mois d'expérience en développement Java EE et je créé des sites web avec Symfony sur mon temps libre.</p>
                        </div>
                        <div class="download-resume">
                            <a href="" class="btn btn-secondary">{{ 'download.resume'|trans }}</a>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <ul class="info-list">
                            <li><span class="title">{{ 'info.age'|trans }}</span><span class="value">24</span></li>
                            <li><span class="title">{{ 'info.residence'|trans }}</span><span class="value">France</span></li>
                            <li><span class="title">{{ 'info.address'|trans }}</span><span class="value">1 avenue Abel Gance, 44300 Nantes</span></li>
                            <li><span class="title">{{ 'info.email'|trans }}</span><span class="value"><a href="mailto:email@example.com">maxym.mino@outlook.com</a></span></li>
                            <li><span class="title">{{ 'info.phone'|trans }}</span><span class="value">+336 06 45 58 75</span></li>
                            <!--<li><span class="title">Freelance</span><span class="value available">Available</span></li>-->
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- End of Home Subpage -->
    {{ include("default/resume.html.twig") }}
    {{ include("default/portfolio.html.twig") }}
    {{ include("default/contact.html.twig") }}
{% endblock %}
