<!-- Portfolio Subpage -->
<section class="pt-page" data-id="portfolio">
    <div class="section-inner custom-page-content">
        <div class="page-header color-1">
            <h2>{{ 'portfolio.title'|trans }}</h2>
        </div>
        <div class="page-content">

            <!-- Portfolio Content -->
            <div class="portfolio-content">

                <!-- Portfolio filter -->
                <ul id="portfolio_filters" class="portfolio-filters">
                    <li class="active">
                        <a class="filter btn btn-sm btn-link active" data-group="all">{{ 'portfolio.all'|trans }}</a>
                    </li>
                    <li>
                        <a class="filter btn btn-sm btn-link" data-group="symfony">Symfony</a>
                    </li>
                    <li>
                        <a class="filter btn btn-sm btn-link" data-group="react">React</a>
                    </li>
                    <li>
                        <a class="filter btn btn-sm btn-link" data-group="ionic">Ionic</a>
                    </li>
                    <li>
                        <a class="filter btn btn-sm btn-link" data-group="angular">Angular</a>
                    </li>
                    <li>
                        <a class="filter btn btn-sm btn-link" data-group="certificat">{{ 'portfolio.certificat'|trans }}</a>
                    </li>
                    <li>
                        <a class="filter btn btn-sm btn-link" data-group="video">{{ 'portfolio.video'|trans }}</a>
                    </li>
                </ul>
                <!-- End of Portfolio filter -->

                <!-- Portfolio Grid -->
                <div id="portfolio_grid" class="portfolio-grid portfolio-masonry masonry-grid-3">

                    <!-- Portfolio Item 1 -->
                    <figure class="item" data-groups='["all", "certificat"]'>
                        <a href="{{ app.request.basepath }}/images/portfolio/full/Diplome_ingenieur.jpg" class="lightbox" title="Diplôme d'ingénieur">
                            <img src="{{ app.request.basepath }}/images/portfolio/Diplome_ingenieur.jpg" alt="diplome_ingenieur">
                            <div>
                                <h5 class="name">Diplôme d'ingénieur</h5>
                                <small>{{ 'portfolio.certificat'|trans }}</small>
                                <i class="fa fa-image"></i>
                            </div>
                        </a>
                    </figure>
                    <!-- /Portfolio Item 1 -->

                    <figure class="item" data-groups='["all", "certificat"]'>
                        <a href="{{ app.request.basepath }}/images/portfolio/certificat_maxime-minot.jpg" class="lightbox" title="Certificat de réussite">
                            <img src="{{ app.request.basepath }}/images/portfolio/certificat_maxime-minot.jpg" alt="certificat_maxime-minot">
                            <div>
                                <h5 class="name">Certificat de réussite</h5>
                                <small>{{ 'portfolio.certificat'|trans }}</small>
                                <i class="fa fa-image"></i>
                            </div>
                        </a>
                    </figure>

                    <!-- Portfolio Item 2 -->
                    <figure class="item" data-groups='["all", "certificat"]'>
                        <a href="https://www.codeschool.com/users/Palyndiel">
                            <img src="{{ app.request.basepath }}/images/portfolio/try-python.png" alt="try-python">
                            <div>
                                <h5 class="name">Initiation au python</h5>
                                <small>{{ 'portfolio.certificat'|trans }}</small>
                                <i class="fa fa-external-link"></i>
                            </div>
                        </a>
                    </figure>
                    <!-- /Portfolio Item 2 -->

                    <!-- Portfolio Item 3 -->
                    <figure class="item" data-groups='["all","certificat"]'>
                        <a href="https://www.codeschool.com/users/Palyndiel">
                            <img src="{{ app.request.basepath }}/images/portfolio/shaping-up-with-angularjs.png" alt="Initiation à AngularJS">
                            <div>
                                <h5 class="name">Initiation à AngularJS</h5>
                                <small>{{ 'portfolio.certificat'|trans }}</small>
                                <i class="fa fa-external-link"></i>
                            </div>
                        </a>
                    </figure>
                    <!-- /Portfolio Item 3 -->

                    <!-- Portfolio Item 4 -->
                    <figure class="item" data-groups='["all", "symfony"]'>
                        <a href="https://nico-blog.herokuapp.com">
                            <img src="{{ app.request.basepath }}/images/portfolio/blog_nico.png" alt="">
                            <div>
                                <h5 class="name">Blog</h5>
                                <small>{{ 'portfolio.site'|trans }}</small>
                                <i class="fa fa-code"></i>
                            </div>
                        </a>
                    </figure>
                    <!-- /Portfolio Item 4 -->

                    <!-- Portfolio Item 5 -->
                    <figure class="item" data-groups='["all", "symfony"]'>
                        <a href="https://critube.herokuapp.com">
                            <img src="{{ app.request.basepath }}/images/portfolio/cri_tube.png" alt="">
                            <div>
                                <h5 class="name">Site de critique</h5>
                                <small>{{ 'portfolio.site'|trans }}</small>
                                <i class="fa fa-code"></i>
                            </div>
                        </a>
                    </figure>
                    <!-- /Portfolio Item 5 -->

                    <!-- Portfolio Item 6 -->
                    <figure class="item" data-groups='["all", "react"]'>
                        <a href="https://mychat-box.herokuapp.com">
                            <img src="{{ app.request.basepath }}/images/portfolio/chatBox.png" alt="">
                            <div>
                                <h5 class="name">Chat</h5>
                                <small>{{ 'portfolio.site'|trans }}</small>
                                <i class="fa fa-code"></i>
                            </div>
                        </a>
                    </figure>
                    <!-- /Portfolio Item 6 -->

                    <!-- Portfolio Item 7 -->
                    <figure class="item" data-groups='["all", "react"]'>
                        <a href="https://boite-a-recette.herokuapp.com">
                            <img src="{{ app.request.basepath }}/images/portfolio/boite-a-recette.png" alt="">
                            <div>
                                <h5 class="name">Site de recettes de cuisine</h5>
                                <small>{{ 'portfolio.site'|trans }}</small>
                                <i class="fa fa-code"></i>
                            </div>
                        </a>
                    </figure>
                    <!-- /Portfolio Item 7 -->
                    
                    <!-- Portfolio Item 7 -->
                    <figure class="item" data-groups='["all", "ionic"]'>
                        <a href="https://dating-clone-app.herokuapp.com">
                            <img src="{{ app.request.basepath }}/images/portfolio/dating-app.png" alt="">
                            <div>
                                <h5 class="name">Clone d'un site de rencontre</h5>
                                <small>{{ 'portfolio.site'|trans }}</small>
                                <i class="fa fa-code"></i>
                            </div>
                        </a>
                    </figure>
                    <!-- /Portfolio Item 7 -->
                    
                    <!-- Portfolio Item 7 -->
                    <figure class="item" data-groups='["all", "angular"]'>
                        <a href="https://t-o-h.herokuapp.com">
                            <img src="{{ app.request.basepath }}/images/portfolio/heroes.png" alt="">
                            <div>
                                <h5 class="name">Angular official tutorial</h5>
                                <small>{{ 'portfolio.site'|trans }}</small>
                                <i class="fa fa-code"></i>
                            </div>
                        </a>
                    </figure>
                    <!-- /Portfolio Item 7 -->
                </div>
                <!-- /Portfolio Grid -->

            </div>
            <!-- /Portfolio Content -->
        </div>
    </div>
</section>
<!-- /Portfolio Subpage -->