 <!-- Resume Subpage -->
    <section class="pt-page" data-id="resume">
        <div class="section-inner custom-page-content">
            <div class="page-header color-1">
                <h2>{{ 'resume.title'|trans }}</h2>
            </div>
            <div class="page-content">

                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="block">
                            <div class="block-title">
                                <h3>{{ 'resume.education'|trans }}</h3>
                            </div>

                            <div class="timeline">
                                <!-- Education 1 -->
                                <div class="timeline-item">
                                    <h4 class="item-title">{{ 'resume.polytech.title'|trans }}</h4>
                                    <span class="item-period">2017</span>
                                    <span class="item-small">Polytech'Nantes</span>
                                    <p class="item-description">{{ 'resume.polytech.desc'|trans }}</p>
                                </div>
                                <!-- / Education 1 -->

                                <!-- Education 3 -->
                                <div class="timeline-item">
                                    <h4 class="item-title">Initiation au Python</h4>
                                    <span class="item-period">2017</span>
                                    <span class="item-small">CodeSchool</span>
                                </div>
                                <!-- / Education 3 -->

                                <!-- Education 4 -->
                                <div class="timeline-item">
                                    <h4 class="item-title">Initiation à AngularJs</h4>
                                    <span class="item-period">2017</span>
                                    <span class="item-small">CodeSchool</span>
                                </div>
                                <!-- / Education 4 -->

                                <!-- Education 2 -->
                                <div class="timeline-item">
                                    <h4 class="item-title">{{ 'resume.oc.title'|trans }}</h4>
                                    <span class="item-period">2016</span>
                                    <span class="item-small">OpenClassrooms</span>
                                    <p class="item-description">{{ 'resume.oc.desc'|trans }}</p>
                                </div>
                                <!-- / Education 2 -->
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="block">
                            <div class="block-title">
                                <h3>{{ 'resume.experience'|trans }}</h3>
                            </div>

                            <div class="timeline">
                                <!-- Experience 1 -->
                                <div class="timeline-item">
                                    <h4 class="item-title">{{ 'resume.sncf.title'|trans }}</h4>
                                    <span class="item-period">Mars - Août 2017</span>
                                    <span class="item-small">Sopra Steria</span>
                                    <p class="item-description">{{ 'resume.sncf.desc'|trans }}</p>
                                </div>
                                <!-- / Experience 1 -->

                                <!-- Experience 2 -->
                                <div class="timeline-item">
                                    <h4 class="item-title">{{ 'resume.vod.title'|trans }}</h4>
                                    <span class="item-period">Nov 2016 - Fév 2017 </span>
                                    <span class="item-small">Polytech'Nantes</span>
                                    <p class="item-description">{{ 'resume.vod.desc'|trans }}</p>
                                </div>
                                <!-- / Experience 2 -->

                                <!-- Experience 3 -->
                                <div class="timeline-item">
                                    <h4 class="item-title">{{ 'resume.oculus.title'|trans }}</h4>
                                    <span class="item-period">Mai 2016 - Août 2016</span>
                                    <span class="item-small">Université d'Ottawa, Canada</span>
                                    <p class="item-description">{{ 'resume.oculus.desc'|trans }}</p>
                                </div>
                                <!-- / Experience 3 -->

                                <!-- Experience 4 -->
                                <div class="timeline-item">
                                    <h4 class="item-title">{{ 'resume.symfony.title'|trans }}</h4>
                                    <span class="item-period">Fev 2016 - ajourd'hui</span>
                                    <span class="item-small">Privé</span>
                                    <p class="item-description">{{ 'resume.symfony.desc'|trans }}</p>
                                </div>
                                <!-- / Experience 4 -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="block">
                            <div class="block-title">
                                <h3>{{ 'resume.technology'|trans }} <span>{{ 'resume.t_skills'|trans }}</span></h3>
                            </div>

                            <div class="skills-info">
                                <h4>Symfony</h4>
                                <div class="skill-container">
                                    <div class="skill-percentage skill-10"></div>
                                </div>

                                <h4>Struts</h4>
                                <div class="skill-container">
                                    <div class="skill-percentage skill-6"></div>
                                </div>

                                <h4>Android</h4>
                                <div class="skill-container">
                                    <div class="skill-percentage skill-5"></div>
                                </div>

                                <h4>Hibernate</h4>
                                <div class="skill-container">
                                    <div class="skill-percentage skill-4"></div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="block">
                            <div class="block-title">
                                <h3>{{ 'resume.coding'|trans }} <span>{{ 'resume.c_skills'|trans }}</span></h3>
                            </div>

                            <div class="skills-info">
                                <h4>PHP</h4>
                                <div class="skill-container">
                                    <div class="skill-percentage skill-10"></div>
                                </div>

                                <h4>HTML/CSS</h4>
                                <div class="skill-container">
                                    <div class="skill-percentage skill-9"></div>
                                </div>

                                <h4>JavaEE</h4>
                                <div class="skill-container">
                                    <div class="skill-percentage skill-8"></div>
                                </div>

                                <h4>Angular</h4>
                                <div class="skill-container">
                                    <div class="skill-percentage skill-5"></div>
                                </div>

                                <h4>Python</h4>
                                <div class="skill-container">
                                    <div class="skill-percentage skill-5"></div>
                                </div>

                                <h4>SQL</h4>
                                <div class="skill-container">
                                    <div class="skill-percentage skill-9"></div>
                                </div>

                                <h4>C++</h4>
                                <div class="skill-container">
                                    <div class="skill-percentage skill-4"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Download Resume Button -->
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="block">
                            <div class="center download-resume">
                                <a href="{{ app.request.basepath }}/images/CV_Minot_Maxime.pdf" class="btn btn-secondary">{{ 'download.resume'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Download Resume Button -->

            </div>
        </div>
    </section>
    <!-- End of Resume Subpage -->
