 <!-- Resume Subpage -->
    <section class="pt-page" data-id="resume">
        <div class="section-inner custom-page-content">
            <div class="page-header color-1">
                <h2>{{ 'resume.title'|trans }}</h2>
            </div>
            <div class="page-content">

                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="block">
                            <div class="block-title">
                                <h3>{{ 'resume.education'|trans }}</h3>
                            </div>

                            <div class="timeline">
                                {% for experience in listExperiences %}
                                    {% if experience.isEdu %}
                                        <div class="timeline-item">
                                            <h4 class="item-title">{{ experience.titleFR }}</h4>
                                            <span class="item-period">{{ experience.length }}</span>
                                            <span class="item-small">{{ experience.company }}</span>
                                            <p class="item-description">{{ experience.descriptionFR }}</p>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="block">
                            <div class="block-title">
                                <h3>{{ 'resume.experience'|trans }}</h3>
                            </div>

                            <div class="timeline">
                                {% for experience in listExperiences %}
                                    {% if not experience.isEdu %}
                                        <div class="timeline-item">
                                            <h4 class="item-title">{{ experience.titleFR }}</h4>
                                            <span class="item-period">{{ experience.length }}</span>
                                            <span class="item-small">{{ experience.company }}</span>
                                            <p class="item-description">{{ experience.descriptionFR }}</p>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="block">
                            <div class="block-title">
                                <h3>{{ 'resume.technology'|trans }} <span>{{ 'resume.t_skills'|trans }}</span></h3>
                            </div>

                            <div class="skills-info">
                                {% for skill in listSkills %}
                                    {% if skill.isTech %}
                                        <h4>{{ skill.name }}</h4>
                                        <div class="skill-container">
                                            <div class="skill-percentage skill-{{ skill.level }}"></div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="block">
                            <div class="block-title">
                                <h3>{{ 'resume.coding'|trans }} <span>{{ 'resume.c_skills'|trans }}</span></h3>
                            </div>

                            <div class="skills-info">
                                {% for skill in listSkills %}
                                    {% if not skill.isTech %}
                                        <h4>{{ skill.name }}</h4>
                                        <div class="skill-container">
                                            <div class="skill-percentage skill-{{ skill.level }}"></div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Download Resume Button -->
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="block">
                            <div class="center download-resume">
                                <a href="{{ app.request.basepath }}/images/CV_Minot_Maxime.pdf" class="btn btn-secondary">{{ 'download.resume'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Download Resume Button -->

            </div>
        </div>
    </section>
    <!-- End of Resume Subpage -->
